
.navbar {
    /* overflow: hidden; */
    /* background-color: #333; */
    transition: 0.3s;
  }
/*   
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  .dropdown {
    float: left;
    overflow: hidden;
    color: var(--darkgrey);
    transition: 0.3s;

  }
  
  .dropdown .dropbtn {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: var(--darkgrey);
    font-weight: 600;
    padding: 14px 16px;
    background-color: inherit;
    letter-spacing: 0.01rem;
    margin: 0;
    transition: 0.3s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--darksalmon);
    transition: 0.3s;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    height: fit-content;
    background-color: var(--tierra);
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: var(--cream);
    color: var(--darkgrey)

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
  }