h2 {
    font-size: 3rem;
    text-align: center;
    /* margin-bottom: 5%; */
}

.container-handicap {
  display: block;
  padding-bottom: 8%;
  /* background-color: red; */
  margin: 0;
}

.container-handicap-video {
    display: block;
    margin: 0;
  }

.inclusive {
    background-color: var(--darkcream);
    box-shadow: 0 0 20px 30px var(--cream);
}

.adaptee {
    background-color: var(--tierra);
    box-shadow: 0 0 20px 30px var(--pink);
}

/* 
.container-handicap-1 {

} */

.container-video {
    background-color: var(--darksalmon);
    height: fit-content;
    /* margin-top: 10%; */
    padding: 6% 0 6% 0;
    box-shadow: 0 0 20px 30px var(--warmgrey);
}

.intro-handicap {
  /* width: 100%; */
  position: relative;
  padding-top: 8%;
  height: fit-content;
  width: 60%;
  margin-left: 20%;
  color: var(--darkgrey);
  display: block;
  position: relative;
  font-weight: 500;
  color: var(--darkgrey);
}

.intro-handicap h1 {
  color: var(--darkgrey);
  margin-bottom: 8%;
}

.column-handicap {
  float: left;
  width: 50%;
  /* padding: 4%; */
}

.column-left {
  padding-right: 3%;
}

.column-right {
  padding-left: 3%;
}

/* Clear floats after the columns */
.row-handicap:after {
  content: "";
  display: table;
  clear: both;
}

.row-handicap h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  font-size: 3.2rem;
}

.video1 {
  width: 76%;
  position: relative;
  left: 12%;
  /* top: 10vh; */
  opacity: 1;
  border-radius: 50px;
  /*   border:1px dashed #524F4B; */
  border: 1px solid var(--cream);
}

@media (max-width: 700px) {
  .slideshow-container {
    display: none;
  }

  .intro-handicap {
    width: 80%;
    margin-left: 10%;
  }

  .intro-handicap h1 {
    margin-bottom: 3%;
    padding-top: 25%;
  }

  .row-handicap h2 {
    font-size: 1.6rem;
  }

  .row-handicap h3 {
    font-size: 1.4rem;
  }

  .video1 {
    width: 80%;
    left: 10%;
  }
}