h2 {
    font-size: 3rem;
    text-align: center;
    /* margin-bottom: 5%; */
}

.container-selfcare {
  display: block;
  padding-bottom: 8%;
  /* background-color: red; */
  margin: 0;
}

.intro-selfcare {
    width: 100%;
    position: relative;
    padding-top: 8%;
    height: fit-content;
    /* color: red; */
    width: 60%;
    margin-left: 20%;
    color: var(--darkgrey);
    /* 	margin-top: 5%; */
    display: block;
    /* 	padding-left: 12.5vw;  */
    /* background-color: var(--cream); */
    /* margin-top: 120vh; */
  }
  
  .intro-selfcare {
    /* margin-left: 52%;
      width: 42.5%; */
    position: relative;
    /* top: -38vh;
      margin-top: 10%; */
    font-weight: 500;
    color: var(--darkgrey);
  
    /* background-color: #eee4e1; */
  }
  
  .intro-selfcare h1 {
    color: var(--darkgrey);
  }

  #niveux {
    padding-bottom: 3%;
  }

  .intro-selfcare-2 {
    position: relative;
    padding-top: 4%;
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    color: var(--darkgrey);
    display: block;
  }

  .column-leves-2 p {
    text-align: left;
    font-size: 1.15rem;
  }

  .column-leves-2 h3 {
    text-align: center;
    padding-bottom: 2%;
  }
  
  .column-leves-2 {
    float: left;
    margin: 1%;
    width: 31.3%;
    padding: 1.5%;
    border: 2px solid var(--tierra);
    border-radius: 25px;
    height: max-content;
    background-color: var(--ocre);
  }
  
  .column-selfcare {
    float: left;
    width: 50%;
    /* padding: 4%; */
  }
  
  .column-left {
    padding-right: 3%;
  }
  
  .column-right {
    padding-left: 3%;
  }
  
  /* Clear floats after the columns */
  .row-selfcare:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-leves p {
    text-align: left;
    font-size: 1rem;
  }
  
  .column-leves {
    float: left;
    margin: 1%;
    width: 31.3%;
    padding: 1.5%;
    border: solid 2px var(--warmgrey);
    border-radius: 25px;
    height: max-content;
  }
  
  /* Clear floats after the columns */
  .row-leves:after {
    content: "";
    display: table;
    clear: both;
  }



.smaller-pg p {
  font-size: 1.2rem;
  padding: 0 8% 0 8%;
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Italiana', serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.right-float {
  float: right;
}

.entretien {
  background-color: var(--ltierra);
}

.niveux-bg {
  background-color: var(--ltierra);
  margin-top: -15vh;
}

.mg-top {
  padding-top: 5%;
}

.row-selfcare a { 
  text-decoration: underline;
}