:root {
  --cream: #ffe8d6;
  --header: #ffd9bc;
  --darkcream: #ddbea9;
  --tierra: #dfac90;
  --darksalmon: #fcb89f;
  --pink: #c89f9c;
  --ocre: #ffd18f;
  --warmgrey: #d5bdaf;
  --darkgrey: #433933;
  --footer: #f7c4a7;
  --ltierra: #fee1c5;
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Basic */

* {
  margin: 0;
  padding: 0;
}

html,
body,
.Container {
  height: 100%;
  width: 100%;
  font-family: "Darker Grotesque", sans-serif;
  color: var(--darkgrey);
}

body {
  background-color: var(--cream);
}

h1 {
  margin: 0;
}

#serif-text {
  font-family: 'Italiana', serif;
  font-size: 4rem;
  line-height: 1.2;
}

.serif {
  font-family: 'Italiana', serif;
}

.navbar-nav {
  align-items: center;
  margin-top: -1.2vh;
}

.scrolling-active {
  background-color: rgba(44, 41, 35, 0.88);
  height: auto;
}

.btn {
  border-radius: 0;
}

.scrolling {
  display: block;
  z-index: 99999;
}

.scroll-fixed,
.scroll-scroll {
  position: fixed;
  transform: rotate(-90deg);
  font-size: 1.6rem;
  font-family: "Darker Grotesque", sans-serif;
  margin-left: 91%;
  top: 77%;
  display: inline-flex;
  width: 12%;
  /* 	text-shadow: 0px 0px 4px #ffffff; */
}

.scroll-scroll {
  position: absolute;
  color: white;
}

.arrow-left {
  transform: rotate(90deg);
  width: 1.2rem;
  margin-right: 3%;
  margin-top: 3%;
  /* 	text-shadow: 0px 0px 4px #ffffff; */
}

#logo {
  width: 7.5vw;
  left: 0;
  position: fixed;
  top: 0;
  mix-blend-mode: difference;
  filter: invert(1);
}

.intro-home {
  width: 100%;
  padding: 8% 0 8% 0;
  height: fit-content;
  /* color: red; */
  color: var(--darkgrey);
  /* 	margin-top: 5%; */
  display: flex;
  align-items: center;
  /* 	padding-left: 12.5vw;  */
  background-color: var(--cream);
}

.shadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(243, 236, 225, 1) 13%,
    rgba(255, 255, 255, 0) 15%
  );
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  /* 	mix-blend-mode: darken; */
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: difference; */
}

.foto-intro {
  width: 42.5vw;
  text-align: center;
  opacity: 0.9;
}

.foto-intro2 {
  width: 42.5vw;
  text-align: center;
  border-radius: 50px;
  border-radius: 50px;
}

.foto-intro3 {
  width: 42.5vw;
  text-align: center;
  border-radius: 50px;
}

.fadein {
  opacity: 0;
}

.line-height {
  line-height: 1.05;
}

.item-zoom {
  position: relative;
  border: solid 2px var(--tierra);
  overflow: hidden;
  border-radius: 50px;
  width: 42.5vw;
  /* top: 20vh; */
  height: fit-content;
  left: 3vw;
  background-color: var(--darksalmon);
  transition: all 0.3s;
  /* border-style: inset; */
}

.item-zoom:hover {
  border: 2px solid var(--darksalmon);
  /* border-style: inset; */
}

.item-zoom img {
  opacity: 0.85;
  vertical-align: top;
  max-width: 42.5vw;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /* border: 1px solid var(--darksalmon); */
}

.item-zoom2 {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 50px;
  width: 42.5vw;
  top: -60vh;
  left: 3vw;
}

.item-zoom2 img {
  opacity: 0.9;
  vertical-align: top;
  max-width: 15vw;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom2:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item-zoom3 {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 50px;
  width: 42.5vw;
  top: -205vh;
  left: 3vw;
}

.item-zoom3 img {
  opacity: 0.9;
  vertical-align: top;
  max-width: 42.5vw;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom3:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item-zoom4 {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 50px;
  width: 42.5vw;
  top: -195vh;
  left: 3vw;
}

.item-zoom4 img {
  opacity: 0.9;
  vertical-align: top;
  max-width: 42.5vw;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom4:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item-zoom5 {
  position: relative;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 50px;
  width: 42.5vw;
  top: 15vh;
  left: 3vw;
}

.item-zoom5 img {
  opacity: 0.9;
  vertical-align: top;
  max-width: 42.5vw;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-zoom5:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.intro-text {
  /* margin-left: 52%; */
  padding-left: 10%;
  width: 50%;
  position: relative;
  /* top: -38vh; */
  font-weight: 500;
  color: var(--darkgrey);
  /* background-color: #eee4e1; */
}

.intro-text h1 {
  color: var(--darkgrey);
}

.column {
  float: left;
  text-align: center;
  width: 38%;
  margin-left: 6%;
  /* padding: 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding: 5% 0 5% 0;
  background-color: var(--darksalmon);
  margin-left: 2%;
  box-shadow: 0 0 20px 30px var(--warmgrey);
}
.column {
  /* margin-right: 2%; */
  /* background-color: white; */
}
.column h1 {
  font-size: 4rem;
  /* font-size: 4vh; */
  color: var(--darkgray);
}

.links-index {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 90%;
  padding: 0 1% 1% 1%;
  margin: 0.5% 0 0.5% 4%;
  border: solid 2px var(--cream);
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
}

.links-index:hover {
  color: var(--darksalmon);
  /* font-style: italic; */
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  /* font-family: 'Cormorant Infant', serif; */
  font-family: 'Italiana', serif;
  font-size: 3.4rem;
  /* font-size: 4vh; */
  padding: 1%;
  background-color: var(--cream);
  border: solid 1px var(--darkgrey);
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

a:link.white,
a:hover.white,
a:visited.white {
  text-decoration: none;
  color: var(--darksalmon);
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 5vh;
  line-height: 0.8;
  color: var(--darkgrey);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  color: var(--darkgray);
  font-size: 1rem;
  /* text-align: justify; */
  line-height: 1.5;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

.min-100 {
  min-height: 100%;
}

.text2 {
  height: 60vh;
  overflow: hidden;
}

.text3 {
  height: 60vh;
  overflow: hidden;
}

.container-images {
  width: 100%;
  height: fit-content;
  background-color: var(--ltierra);
  display: flex;
  padding: 6% 8% 20% 4%;
  box-shadow: 0 0 20px 30px var(--darksalmon);
}

.container-images img, video {
  width: 18vw;
  position: absolute;
  height: auto;
  border-radius: 25px;
}

.i-img img, .container-images video {
  border: solid 2px var(--darksalmon);
}

#hm-2 {
  padding-top: 30%;
  padding-left: 12%;
}

#hm-3 {
  /* padding-top: 6%;
  padding-left: 22%; */
  margin-left: 27%;
}

#hm-4 {
  padding-top: 16%;
  padding-left: 26%;
}

#hm-5 {
  padding-top: 8%;
  padding-left: 28%;
}

#hm-6 {
  margin-top: 30%;
  margin-left: 45%;

}

#hm-7 {
  padding-top: 28%;
  padding-left: 12%;
}

.container2 {
  position: relative;
  left: 50%;
  width: 42.5%;
  /* 	padding-top: 10%; */
  top: 0;
  margin-top: -35%;
}

.container3 {
  position: relative;
  left: 50%;
  width: 42.5%;
  /* 	padding-top: 10%; */
  top: 0;
  margin-top: 120%;
}

label {
  position: absolute;
  top: 110%;
  right: 0;
  /* 	margin-right: -5%; */
  margin-top: 3%;
  padding-bottom: 10%;
}
input {
  display: none;
}

label:after {
  content: "Voir plus";
  font-weight: 600;
}
input:checked + label:after {
  content: "Voir moins";
  font-weight: 600;
}
input:checked ~ div {
  height: 100%;
}

.text-test {
  max-height: 60%;
  overflow: hidden;
}

.container-more {
  position: relative;
  /*   max-height: 100vh; */
  left: 50%;
  width: 42.5%;
  /*   	height: 100%; */
  /* 	top: -60vh; */
  /* 	padding-top: 30vh; */
}

label {
  position: absolute;
  top: 100%;
}

input {
  display: none;
}

label:after {
  content: "Voir plus";
}

input:checked + label:after {
  content: "Voir moins";
}

input:checked ~ div {
  height: 100%;
}

/* Spacing */

.no-gutter {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Navbar */

.navbar {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 100%;
  line-height: 1.2;
  padding: 1.4rem 1rem;
  /* text-shadow: 0px 0px 4px var(--darksalmon); */
  padding-left: 45vw;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--darkgray);
  /* background: rgb(203,153,126); */
  background: linear-gradient(
    180deg,
    var(--darksalmon) 0%,
    var(--header) 10%,
    var(--header) 85%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* .top {
  margin-top: 1vh;
} */

.navbar-dark .navbar-nav .nav-link {
  color: var(--darkgrey);
  transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--darksalmon);
}

.navbar a:link,
.navbar a:hover,
.navbar a:visited {
  text-decoration: none;
  color: var(--darkgrey);

  /* 	color: light gray; */
  /* 		text-shadow: 2px 2px 4px #000000; */

  /* 	text-transform: uppercase; */
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
  padding-top: 0;
}

.wrapper {
  margin: 0;
  width: 200px;
  height: 40px;
}

.menu-toggle {
  display: block;
  height: 40px;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-family: sans-serif;
  outline: medium none;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  height: 31px;
  width: 35px;
  right: 0px;
  top: 0;
  position: absolute;
}

.menu-toggle:before {
  content: attr(data-label);
  display: block;
  padding: 12px 0;
  position: absolute;
  right: 100%;
  top: 0;
  transition: color 0.2s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.menu--is-revealed .menu-toggle:before {
  opacity: 0;
  visibility: hidden;
}

.menu-toggle .icon-bars,
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
  transition: background-color 0.3s ease;
  transition: 0.3s;
}

.menu-toggle:focus .icon-bars,
.menu-toggle:focus .icon-bars:before,
.menu-toggle:focus .icon-bars:after,
.menu-toggle:hover .icon-bars,
.menu-toggle:hover .icon-bars:before,
.menu-toggle:hover .icon-bars:after {
  background-color: #000;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
  object-fit: cover;
  z-index: -1;
  /* filter: brightness(50%); */ /* 0% #524F4B, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.slideshow-container {
  width: 100vw;
  position: relative;
  margin: auto;
  background-color: darksalmon;
  box-shadow: 0 0 20px 30px darksalmon;
}

#outer {
  height: 40vh;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.text-block {
  overflow-y: scroll;
  height: 64vh;
  position: relative;
  width: 42vw;
  top: -123vh;
  margin-left: 51.5vw;
  border: 1px solid #524f4b;
  border-radius: 50px;
  padding: 3%;
  border-radius: 50px;
  padding: 3%; /*  background-color: #ffffd3; */
}

w3-content
/* .intro-slideshow img:first-child {
  display: block;
  opacity: 1;
} */
.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-toggle .icon-bars {
  transition: transform 0.3s ease-in, background-color 0.2s ease;
  background-color: #000;
}

.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
  transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in,
    background-color 0.2s ease;
  background-color: #000;
}

.menu-toggle:active .icon-bars,
.menu--is-revealed .menu-toggle .icon-bars {
  transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 135deg);
}

.menu-toggle:active .icon-bars:before,
.menu-toggle:active .icon-bars:after,
.menu--is-revealed .menu-toggle .icon-bars:before,
.menu--is-revealed .menu-toggle .icon-bars:after {
  transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in,
    background-color 0.2s ease;
  transform: rotate3d(0, 0, 1, 90deg);
  top: 0;
}

.menu--is-revealed .menu-toggle {
  position: fixed;
  top: 31px;
  right: 22px;
}

.nav-item {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  font-weight: 600;
}

.icon-bars {
  position: relative;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
  display: block;
  width: 32px;
  height: 2px;
  background-color: currentColor;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
  background-color: #273138;
}

.icon-bars:before,
.icon-bars:after {
  content: "";
  position: absolute;
  left: 0;
}

.icon-bars:before {
  top: 0.5em;
}

.icon-bars:after {
  top: -0.5em;
}

@media (min-width: 990px) {
  .navbar-brand {
    position: fixed;
    left: 5%;
    top: 3%;
    transform: translateX(-50%);
    /**optional offset from top**/
    /* 		max-height: 40px; */
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 100%;
    text-align: center;
  }
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -50%;
  }
}

.navbar-toggler-icon {
  top: 15px;
  right: 0px;
  position: absolute;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0);
  z-index: 9999;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    height: 100vh;
    background-color: #e9e8e6;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
  }
  .navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
  }
}

.navbar-toggler {
  height: 30px;
  width: 21px;
  position: absolute;
  right: 22px;
}

@media (min-width: 992px) {
  #social {
    display: none;
  }
}

@media (max-width: 991px) {
  #social {
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 5%;
  }
  #social p {
    font-size: 0.9rem;
    padding-top: 1rem;
  }
}

/* Half Page */

.Container:before {
  content: "";
  height: 100%;
  float: left;
}

.Content {
  position: relative;
  z-index: 1;
}

.Content:after {
  content: "";
  clear: both;
  display: block;
}

.Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #e9e8e6;
  /* 	display: -webkit-box; */
}

.LeftContent {
  float: left;
  margin: 0;
  padding: 0;
  /* 	margin-top: 14.5%; */
}

.RightContent {
  overflow: auto;
  width: 60vw;
  height: 50vh;
}

/* SLIDESHOW */

.mySlides {
  display: none;
}
.mySlides2 {
  display: none;
}
.mySlides3 {
  display: none;
}

img {
  vertical-align: middle;
}

/* The dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  bottom: -30%;
  z-index: 1;
  position: relative;
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
  /*     transition-timing-function: ease-in; */
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.w3-content,
.w3-section {
  max-width: 42vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.w3-content2,
.w3-section2 {
  max-width: 42vw;
  height: 100vh;
  position: absolute;
  top: 100vh;
  left: 0;
}

.w3-content3,
.w3-section3 {
  max-width: 42vw;
  height: 100vh;
  position: absolute;
  top: 200vh;
  left: 0;
}

@media (min-width: 1200px) {
  .Wrapper > div {
    height: 100%;
  }
}

.split-image-left {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.background-1 {
  background-image: url("../img/cours.PNG");
}

.background-2 {
  background-image: url("../img/danset.jpg");
}

.split-image-right {
  padding-top: 7%;
  padding-bottom: 10%;
  max-width: 42%;
  /* 	height: 50vh; */
  margin-left: 48%;
  margin-right: 5%;
}
/*

.text-transmission {
	height: 50vh;
}
*/

.signature {
  padding-top: 2rem;
  height: 6rem;
}

/* Works - Horizontal Gallery */

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

:root {
  --swiper-theme-color: #000;
}

.swiper-pagination {
  display: none;
}

/* Works */

.works {
  font-size: 1.2em;
  padding-top: 14rem;
  padding-bottom: 3rem;
}

/* Studio */

.studio {
  font-size: 1.2em;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* Contact */

.contact {
  font-size: 1.8em;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

/* Contact Form */

.contact-form {
  font-size: 1.2em;
  padding-bottom: 11rem;
}

.contact-form .btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.contact-form .form-control {
  color: #000;
  background-color: transparent;
  border-color: #000;
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-style: solid;
  font-size: 1.5rem;
}

.form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 0.6;
}

.form-control {
  padding: 1.5rem 16rem 1.5rem 0.75rem;
}

.contact-form .btn {
  padding: 0.8rem 4rem;
  border-radius: 5px;
}

.section-agenda {
  width: 88%;
  height: fit-content;
  margin: 0 6% 0 4%;
  padding: 8% 0 6% 0;
  text-align: center;
}

.section-agenda h2 {
  /* padding-bottom: 5%; */
  color: var(--darkgrey);
  margin: 0;
}

.section-agenda h1 {
  font-size: 6rem;
  /* padding-bottom: 1%; */
  padding-bottom: 1.5%;
  margin: 0;
}

.section-agenda a {
  color: var(--darkgrey);
  transition: 0.3s;
}

.section-agenda a:hover {
  color: var(--darksalmon);
}


.section-agenda h3 {
  font-size: 2.6rem;
  margin: 0;
}

.column-agenda {
  float: left;
  width: 28%;
  padding: 1%;
  text-align: center;
  height: inherit;
  border: solid 2px var(--darkcream);
  border-radius: 25px;
  transition: 1s;
  text-transform: uppercase;
  background-color: var(--ocre);
}

.column-agenda a {
  color: var(--darkgrey);
} 

.column-agenda h2 {
  font-size: 3rem;
}

.column-agenda a:hover {
  color: var(--cream);
} 

.column-agenda:hover {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  background-color: var(--pink);
  color: var(--darksalmon);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
}

.row-agenda {
   margin: 4% 0 0 0; 
   display: flex;
   width: 90vw;
   padding-bottom: 4%;
   /* height: 36vh; */
   justify-content: space-around;
   align-items: center;

}

/* Clear floats after the columns */
.row-agenda:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 1200px) {
  .swiper-container {
    padding: 0 20px 0;
  }
}

@media (max-width: 700px) {

  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1rem;
    /* text-align: justify; */
  }

  .scrolling {
    display: none;
  }

  .intro-home {
    /* background-color: red; */
    display: block;
    padding: 20% 0 20% 0;
  }

  .item-zoom {
    width: 80%;
    left: 10%;
  }

.item-zoom img {
  min-width: 100%;
}

.intro-text {
  width: 86%;
  left: 2%;
  padding-top: 12%;
}

#serif-text {
  font-size: 2.2rem;
  line-height: 1.3;
}

.row {
  padding: 10% 0 12% 0;
}

.links-index {
  margin: 4% 0 0.5% 4%;
}

.container-images {
  height: fit-content;
  display: none;

}

.container-images img, video {
  width: 80%;
}

/* .i-img {
  width: 80%;
} */

#hm-1, #hm-2, #hm-3, #hm-4, #hm-5, #hm-6, #hm-7 {
  padding-top: 1%; 
  padding-left: 0%;  
}

.row-agenda {
  display: grid;
}

.section-agenda {
  margin: 0 4% 0 4%;
  padding: 20% 0 20% 0;
}

.section-agenda h1 {
  font-size: 4rem;
}

.section-agenda h3 {
  font-size: 1.6rem;
}

.section-agenda h1, .section-agenda h3 {
  padding-left: 3%;
}

.column-agenda {
  width: 115%;
  margin-top: 2%;
  padding: 4%;
}

.column-agenda h2 {
  font-size: 2rem;
  padding: 4%;
}

}